This project explores the World Bank Population dataset, focus especially in 2023 to later make a gender population analysis.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasets/population/master/data/population.csv"
df = pd.read_csv(url)
df.head()

  Country Name Country Code  Year    Value
0        Aruba          ABW  1960  54922.0
1        Aruba          ABW  1961  55578.0
2        Aruba          ABW  1962  56320.0
3        Aruba          ABW  1963  57002.0
4        Aruba          ABW  1964  57619.0

In [2]:
df.tail()

      Country Name Country Code  Year       Value
16925     Zimbabwe          ZWE  2019  15271368.0
16926     Zimbabwe          ZWE  2020  15526888.0
16927     Zimbabwe          ZWE  2021  15797210.0
16928     Zimbabwe          ZWE  2022  16069056.0
16929     Zimbabwe          ZWE  2023  16340822.0

We have explore the dataset and know calculate the mean, media and mode of population for the year 2023

In [4]:
# Filtrar solo el aÃ±o 2023
df_2023 = df[df["Year"] == 2023]

# Calcular medidas
mean_val = df_2023["Value"].mean()
median_val = df_2023["Value"].median()
mode_val = df_2023["Value"].mode().iloc[0]

print("Mean population:", round(mean_val, 2))
print("Median population:", round(median_val, 2))
print("Mode population:", mode_val)

Mean population: 328788572.05
Median population: 10644851.0
Mode population: 1259902353.0

Here we are repiting the same exercise but using the standard library from python:

In [ ]:
import csv
import statistics

with open("API_SP.POP.TOTL_DS2_en_csv_v2_130083.csv", newline="", encoding="utf-8") as f:
    reader = csv.reader(f)
    rows = list(reader)

In [ ]:


for i, row in enumerate(rows[:10]):
    print(i, row[:5])

with open("API_SP.POP.TOTL_DS2_en_csv_v2_130083.csv", newline="", encoding="utf-8") as f:
    reader = csv.DictReader(f, skipinitialspace=True)
   
    for _ in range(4):
        next(f)
    reader = csv.DictReader(f)

    pop_2023 = []
    for row in reader:
        value = row.get("2023")
        if value and value.strip() != "":
            try:
                pop_2023.append(float(value))
            except ValueError:
                pass

0 ['\ufeff"Data Source"', 'World Development Indicators', '']
1 []
2 ['Last Updated Date', '2025-10-07', '']
3 []
4 ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960']
5 ['Aruba', 'ABW', 'Population, total', 'SP.POP.TOTL', '54922']
6 ['Africa Eastern and Southern', 'AFE', 'Population, total', 'SP.POP.TOTL', '130075728']
7 ['Afghanistan', 'AFG', 'Population, total', 'SP.POP.TOTL', '9035043']
8 ['Africa Western and Central', 'AFW', 'Population, total', 'SP.POP.TOTL', '97630925']
9 ['Angola', 'AGO', 'Population, total', 'SP.POP.TOTL', '5231654']

In [ ]:

mean_val = statistics.mean(pop_2023)
median_val = statistics.median(pop_2023)

try:
    mode_val = statistics.mode(pop_2023)
except statistics.StatisticsError:
    mode_val = statistics.multimode(pop_2023)[0]


print("Mean population (2023):", round(mean_val, 2))
print("Median population (2023):", round(median_val, 2))
print("Mode population (2023):", mode_val)

Mean population (2023): 328429234.96
Median population (2023): 10644851.0
Mode population (2023): 1662580579.0

As a last exercise, we want to see the total population by income group

In [ ]:

with open("API_SP.POP.TOTL_DS2_en_csv_v2_130083.csv", newline="", encoding="utf-8") as f:
    for _ in range(4):
        next(f)  # skip metadata rows
    reader = csv.DictReader(f)

    income_map = {
        "High income": ["United States", "Germany", "Japan", "United Kingdom", "France", "Canada", "Australia"],
        "Upper middle income": ["China", "Russia", "Brazil", "Mexico", "South Africa", "Turkey"],
        "Lower middle income": ["India", "Indonesia", "Pakistan", "Bangladesh", "Nigeria", "Kenya"],
        "Low income": ["Ethiopia", "Sudan", "Mozambique", "Nepal", "Madagascar"]
    }

    income_pop = {k: 0 for k in income_map.keys()}

    for row in reader:
        country = row["Country Name"]
        value = row.get("2020")
        if not value or value.strip() == "":
            continue
        try:
            pop = float(value)
        except ValueError:
            continue

        for group, countries in income_map.items():
            if country in countries:
                income_pop[group] += pop
                break

print("\nðŸ’° Total Population by Income Group (2020)\n")
max_val = max(income_pop.values())
scale = 50 / max_val

for group, pop in sorted(income_pop.items(), key=lambda x: x[1], reverse=True):
    bar = "â–ˆ" * int(pop * scale)
    print(f"{group:<20} | {bar} {int(pop/1_000_000):,}M")

ðŸ’° Total Population by Income Group (2020)

Lower middle income  | â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ 2,344M
Upper middle income  | â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ 1,807M
High income          | â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ 739M
Low income           | â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ 254M