# FINDEX ANALYSIS 2024
Adult Population and Findex Dataset

This project use the dataset called Findex from the World Bank https://www.worldbank.org/en/publication/globalfindex/download-data

The Findex provides indicators such as mobile phone ownership, internet use, account ownership, among others.


The data is organized by country, region, and income group, which is particularly interesting to see and compaere gender gaps among regions and developing economies. 
Available indicators are reported for 2024, 2021, 2017, 2014, and 2011. But this project will focus on 2024.

In [2]:
import pandas as pd

url = "/Users/anamontanez/Documents/Anana2314.github.io/PROJECT 1/GlobalFindexDatabase2025.csv"
df = pd.read_csv(url)
df.head()

/var/folders/ky/p2ghgwb15rq__jgw7h54ck140000gn/T/ipykernel_55325/2644207550.py:4: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

,countrynewwb,codewb,year,pop_adult,regionwb24_hi,incomegroupwb24,group,group2,account_t_d,fiaccount_t_d,...,con12m_s,con26lm_s,con12w_s,con2f_s,con13_s,con26m_s,con28lm_s,con5a_s,con17c_s,con32h_s
0,Afghanistan,AFG,2011,14575546.0,South Asia (excluding high income),Low income,all,all,0.090050,0.090050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,ALB,2011,2281010.0,Europe & Central Asia (excluding high income),Upper middle income,all,all,0.282681,0.282681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,DZA,2011,26251587.0,Middle East & North Africa (excluding high inc...,Lower middle income,all,all,0.332861,0.332861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,2011,12779501.0,Sub-Saharan Africa (excluding high income),Lower middle income,all,all,0.392035,0.392035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,ARG,2011,30685516.0,Latin America & Caribbean (excluding high income),Upper middle income,all,all,0.331302,0.331302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.tail()

,countrynewwb,codewb,year,pop_adult,regionwb24_hi,incomegroupwb24,group,group2,account_t_d,fiaccount_t_d,...,con12m_s,con26lm_s,con12w_s,con2f_s,con13_s,con26m_s,con28lm_s,con5a_s,con17c_s,con32h_s
8559,Low income,LIC,2024,NaN,NaN,NaN,education,prim edu or less,0.376106,0.226662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8560,Lower middle income,LMC,2024,NaN,NaN,NaN,education,secondary edu or more,0.755855,0.688198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8561,Lower middle income,LMC,2024,NaN,NaN,NaN,education,prim edu or less,0.660206,0.617635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8562,Upper middle income,UMC,2024,NaN,NaN,NaN,education,secondary edu or more,0.879884,0.869421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8563,Upper middle income,UMC,2024,NaN,NaN,NaN,education,prim edu or less,0.787895,0.782939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The findex has a significant amount of variables and for many of them we won't have data. So we need to explore the shape and n of NaN

In [ ]:
df.shape #To see the size of the dataset

(8564, 437)

In [5]:
df.isna().sum().sum() #to count all the Nan from the dataset

np.int64(3293938)

In [8]:
print(df.columns.tolist())

['countrynewwb', 'codewb', 'year', 'pop_adult', 'regionwb24_hi', 'incomegroupwb24', 'group', 'group2', 'account_t_d', 'fiaccount_t_d', 'mobileaccount_t_d', 'borrow_any_t_d', 'fin4_d', 'dig_acc', 'fin11_2a', 'fin11a', 'fin11b', 'fin11c', 'fin11f', 'fin11d', 'fin11e', 'fin14a', 'fin14b', 'fin14c', 'fin14d', 'fin13_1a', 'fin13_1b', 'fin26a', 'fin26b', 'fin27a', 'fin27b', 'fin17f', 'fin17a_17a1_d', 'fin17a', 'fin17b', 'fin17c', 'fin22d', 'fin22e', 'fin22a_22a1_22g_d', 'fin22a', 'fin22a_1', 'fin22b', 'fin22c', 'fin24sav', 'fin24fam', 'fin24work', 'fin24bor', 'fin24sell', 'fin24other', 'fin24aVD', 'fin24aSD', 'fin24aND', 'fin24aSD_ND', 'fin24aP', 'fin24aN', 'fin24sav_SD_ND', 'fin24fam_SD_ND', 'fin24work_SD_ND', 'fin24bor_SD_ND', 'fin24sell_SD_ND', 'fin24other_SD_ND', 'fin24sav_VD', 'fin24fam_VD', 'fin24work_VD', 'fin24bor_VD', 'fin24sell_VD', 'fin24other_VD', 'fh1', 'fin28', 'fh2', 'fin29', 'fin31a_31b', 'fin30', 'fin31a', 'fin31b', 'fin31d', 'fin32_33_34a', 'fin32_33_34b', 'fin32_33_34c', 'fin32_33_34d', 'fin32_33_acc', 'fin32_33', 'fin32_n33_34a', 'fin32_n33_34b', 'fin32_n33_34c', 'fin32_n33_34d', 'fin32_n33_acc', 'fin32_n33', 'fin32', 'fin32_acc', 'fin34a', 'fin34b', 'fin34c', 'fin34d', 'fin37_38_39a', 'fin37_38_39b', 'fin37_38_39c', 'fin37_38_39d', 'fin37_38_39_acc', 'fin37_38', 'fin37_39a', 'fin37_39b', 'fin37_39c', 'fin37_39d', 'fin37_39_acc', 'fin37', 'fin38_39a', 'fin38_39b', 'fin38_39c', 'fin38_39d', 'fin38_39_acc', 'fin38', 'fin2_t_d', 'fin42', 'fin42_acc', 'fin43a', 'fin43b', 'fin43c', 'fin43d', 'fin45a', 'fin45c', 'fin45d', 'fin45e', 'fin45b', 'fin25e2', 'fin9b', 'fin10', 'fin22g', 'fin22h', 'inactive_t_d', 'fing2p_acc', 'fing2p_card', 'fing2p_cash', 'fing2p_fin', 'fing2p_mob', 'fing2p', 'g20_made', 'g20_received', 'g20_any', 'merchant_pay', 'save_any_t_d', 'fin11_1', 'fin5w', 'fin5m', 'fin5lm', 'fin5n', 'fin6w', 'fin6m', 'fin6lm', 'fin6n', 'fin11_0', 'fin9a', 'fin17dw', 'fin17dm', 'fin17dlm', 'fin17e', 'fin7', 'fin3', 'fin19', 'fin20', 'fin21', 'fin24ba', 'fin24bb', 'fin24bc', 'fin24bd', 'fin24c', 'fin24d1', 'fin24d2', 'fin24d3', 'fin25e1', 'fin25e2b', 'fin25e3w', 'fin25e3m', 'fin25e3lm', 'fin25e4a', 'fin25e4b', 'fin25e4c', 'fin25e4d', 'fin25e4e', 'fh2a', 'fin31c', 'fin36a', 'fin36b', 'fin40a', 'fin40b', 'fin36Aa', 'fin36Ab', 'fin8', 'fin13aw', 'fin13am', 'fin13alm', 'fin13an', 'fin13bw', 'fin13bm', 'fin13blm', 'fin13bn', 'fin13cw', 'fin13cm', 'fin13clm', 'fin13cn', 'fin13e', 'fin13f', 'fin13f_1', 'fin15', 'fin16', 'fin22f', 'fin41', 'fin35', 'fin44', 'fh1_fh2', 'fin28_29', 'fin31d_s', 'fin32_n33_34c_s', 'fin34c_s', 'fin43c_s', 'fin32_acc_s', 'fin34a_s', 'fin32_33_acc_s', 'inactive_t_d_s', 'fing2p_fin_s', 'fin32_33_34a_s', 'fin32_n33_acc_s', 'fin37_39_acc_s', 'fin37_39c_s', 'fin31a_31b_s', 'fin31a_s', 'fin31b_s', 'fin32_n33_34a_s', 'fin37_39a_s', 'fin34d_s', 'fin32_33_34d_s', 'fin32_n33_34d_s', 'fing2p_card_s', 'fin37_39d_s', 'fin42_acc_s', 'fin32_33_34c_s', 'fin37_38_39c_s', 'fin38_39c_s', 'fing2p_acc_s', 'fing2p_cash_s', 'fin37_38_39a_s', 'fin37_38_39_acc_s', 'fin38_39a_s', 'fin38_39_acc_s', 'fin34b_s', 'fin32_n33_34b_s', 'fin43b_s', 'fin27b_s', 'fin27a_s', 'fin22h_s', 'fin28_29_s', 'fin28_s', 'fin29_s', 'fing2p_mob_s', 'fin37_38_39d_s', 'fin37_38_39b_s', 'fin37_39b_s', 'fin11_2a_s', 'fin11b_s', 'fin11f_s', 'fin11d_s', 'fin11e_s', 'fin9b_s', 'fin11_1_s', 'fin5m_s', 'fin6m_s', 'fin9a_s', 'fin5w_s', 'fin6w_s', 'fin17dm_s', 'fin17dlm_s', 'fin25e3w_s', 'fin25e3m_s', 'fin24d1_s', 'fin14d_s', 'fin24d2_s', 'fin11a_s', 'fin11c_s', 'fin5lm_s', 'fin6lm_s', 'fin17dw_s', 'fin14c_s', 'fin13_1a_s', 'fin13_1b_s', 'fin13am_s', 'fin13alm_s', 'fin13bm_s', 'fin13blm_s', 'fin13cm_s', 'fin13clm_s', 'fin21_s', 'fin14b_s', 'fin13cw_s', 'fin13f_s', 'fin14a_s', 'fin25e3lm_s', 'fin13aw_s', 'fin13bw_s', 'fin24d3_s', 'fin5n_s', 'fin6n_s', 'fin13f_1_s', 'fin32_33_34b_s', 'con1', 'con2a', 'con2b', 'con2c', 'con2d', 'con2e', 'con2f', 'con2g', 'con3a', 'con3b', 'con3c', 'con3d', 'con3e', 'con3f', 'con3g', 'con4', 'con5a', 'con5b', 'con6', 'con7', 'con8', 'con9a', 'con9b', 'con10', 'con11', 'con12d', 'con12w', 'con12m', 'con12lm', 'con13', 'con14', 'con15', 'con16', 'con17a', 'con17b', 'con17c', 'con17d', 'con18', 'con19', 'con20', 'con21', 'con22', 'con23', 'internet', 'con26d', 'con26w', 'con26m', 'con26lm', 'con27', 'con28d', 'con28w', 'con28m', 'con28lm', 'con28n', 'con29', 'con30a', 'con30b', 'con30c', 'con30d', 'con30e', 'con30f', 'con30g', 'con30h', 'con31a', 'con31b', 'con31c', 'con31d', 'con31e', 'con31f', 'con31g', 'con31h', 'con32a', 'con32b', 'con32c', 'con32d', 'con32e', 'con32f', 'con32g', 'con32h', 'con10_s', 'con11_s', 'con12d_s', 'con14_s', 'con16_s', 'con17a_s', 'con17b_s', 'con18_s', 'con19_s', 'con20_s', 'con21_s', 'con26d_s', 'con27_s', 'con28m_s', 'con30a_s', 'con30b_s', 'con30c_s', 'con30d_s', 'con30e_s', 'con30f_s', 'con30g_s', 'con30h_s', 'con31a_s', 'con31b_s', 'con31f_s', 'con2a_s', 'con15_s', 'con17d_s', 'con29_s', 'con31d_s', 'con31h_s', 'con32a_s', 'con3a_s', 'con4_s', 'con28d_s', 'con28w_s', 'con23_s', 'con31c_s', 'con2b_s', 'con2d_s', 'con26w_s', 'con2c_s', 'con2e_s', 'con2g_s', 'con5b_s', 'con12m_s', 'con26lm_s', 'con12w_s', 'con2f_s', 'con13_s', 'con26m_s', 'con28lm_s', 'con5a_s', 'con17c_s', 'con32h_s']

We have explore the dataset and the next step is to explore population in 2024 which can serve us to later make comparisions respect to other years. We will calculate the mean, media and mode of adult population for the year 2024. The column selected is pop_adult

In [9]:
#First filter only 2024
df_2024 = df[df["year"] == 2024]

#Calculate mean, median, mode
mean_val = df_2024["pop_adult"].mean()
median_val = df_2024["pop_adult"].median()
mode_val = df_2024["pop_adult"].mode().iloc[0]

print("Mean population:", round(mean_val, 2))
print("Median population:", round(median_val, 2))
print("Mode population:", mode_val)

Mean population: 40023346.2
Median population: 9161251.0
Mode population: 300138.0

Alternatively,  we can calculate mean, median and mode without using pandas, the statistics module, a spreadsheet program, etc.
But fist, we need to create a list of valid numbers and not take  NaN into account.

In [ ]:
#Create a list and keep the valid numbers, I used chatgpt to understand what the DictReader makes 
values = []
with open("GlobalFindexDatabase2025.csv") as f:
    reader = csv.DictReader(f)
    for row in reader:

        # filter only 2024
        if row["year"] != "2024":
            continue

        value_str = row["pop_adult"]

        # The column has a lot of NaN so we need to add this part of the code, 
        # to make the calculations to avoid NaN and just consider valid values

        if value_str in ("", "NA", "N/A", None):
            continue
        try:
            value = float(value_str)
        except ValueError:
            continue 

        values.append(value)

#See how many valid numbers we have
print("There are", len(values), "values.")

There are 1813 values.

In [ ]:
# We already have the list of value so we to calculate the mean we do the basic mean = sum / count

mean_value = sum(values) / len(values)
print("Mean:", mean_value)

Mean: 40023346.20408163

In [ ]:
# To calculate de median, we sorted the values
values_sorted = sorted(values)
n = len(values_sorted)
middle = n // 2

if n % 2 == 1:
    # if the number is odd: then the median is the middle one
    median_value = values_sorted[middle]
else:
    # if the list is even number: average of the two middle numbers
    median_value = (values_sorted[middle - 1] + values_sorted[middle]) / 2
print("Median:", median_value)

Median: 9161251.0

In [ ]:
counts = {}  #we need to count how many times a number is repetead, 
#so we create a dictionary and a loop

for v in values:
    if v not in counts:
        counts[v] = 1
    else:
        counts[v] += 1

# find which number appears most
mode_value = None
max_count = 0     #quantity of times is repeated

for number, freq in counts.items():
    if freq > max_count:
        max_count = freq
        mode_value = number

print("Mode:", mode_value)

Mode: 2278004.0

As a last exercise, we calculate the mean population of Argentina for the years 2017, 2021, 2024. Following this example https://computing-in-context.afeld.me/project_1.html we created a graph with the mean population for those years.

In [2]:
import pandas as pd

#We used the same findex dataset 
url = "/Users/anamontanez/Documents/Anana2314.github.io/PROJECT 1/GlobalFindexDatabase2025.csv"
df = pd.read_csv(url)

#  Selected only Argentina and the data from the last three more recent surveys
pais = "Argentina"
df_arg = df[
    (df["countrynewwb"] == pais) &
    (df["year"].isin([2017, 2021, 2024]))
].copy()

# There are different values for each year, that's why we used the mean
df_arg_year = (
    df_arg.groupby("year", as_index=False)["pop_adult"]
    .mean()
)

# Scale of 10 characters to make the graph easy to read
max_val = df_arg_year["pop_adult"].max()
scale = 10 / max_val if max_val > 0 else 1

print("\nArgentinian Population (2017, 2021, 2024)\n")

# Graph sparkline, 
for _, row in df_arg_year.iterrows():
    year = row["year"]
    pop = row["pop_adult"]
    bar_len = int(pop * scale)
    bar = "**" * bar_len
    print(f"{year}: {bar} ({int(pop):,})")

Argentinian Population (2017, 2021, 2024)

2017.0: ****************** (33,036,043)
2021.0: ****************** (34,481,880)
2024.0: ******************** (35,433,130)

/var/folders/ky/p2ghgwb15rq__jgw7h54ck140000gn/T/ipykernel_63840/3992315728.py:5: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)